@model NIA_CRM.Models.Contact

<div>
    <h3>Preview Details</h3>
    <div class="d-flex">
        <img src="~/images/preview.jpg" alt="Profile Picture of Summary"
             title="Profile Picture of Summary" class="img-fluid rounded" style="max-width: 150px; margin-right: 15px;" />
        <div>
            <p><strong>Contact Name:</strong> <br />@Model.Summary</p>
            <p><strong>Contact Email:</strong> <br /> @Model.Email</p>
            <p><strong>Phone:</strong> <br /> @Model.Phone</p>
            <p><a href="@Model.LinkedInUrl" target="_blank">View LinkedIn</a></p>
        </div>
    </div>

    <div>
        <h5>Industry:</h5>
        @{
            int industryCount = Model.ContactIndustries.Count;
            if (industryCount > 0)
            {
                string firstIndustryName = Model.ContactIndustries.FirstOrDefault()?.Industry.IndustryName;
                string firstIndustrySize = Model.ContactIndustries.FirstOrDefault()?.Industry.IndustrySize.ToString();
                string firstIndustryWebsite = Model.ContactIndustries.FirstOrDefault()?.Industry.WebsiteUrl; // Assuming the Industry model has a WebsiteUrl property

                if (industryCount > 1)
                {
                    string industryDetails = ""; // HTML string of industry details
                    var industries = Model.ContactIndustries.ToList();
                    for (int i = 1; i < industryCount; i++) // Skip the first industry because we have it already
                    {
                        var industry = industries[i].Industry;
                        industryDetails += $@"
        <strong>Industry Name:</strong> {industry.IndustryName}<br />
        <strong>Industry Size:</strong> {industry.IndustrySize}<br />
        <strong>Website:</strong> <a href='{industry.WebsiteUrl}' target='_blank'>{industry.WebsiteUrl}</a><br /><br />";
                    }
                    <a class="role='button'" data-bs-toggle="collapse" href="#collapseIndustry@(Model.Id)"
                       aria-expanded="false" aria-controls="collapseIndustry@(Model.Id)">
                        @firstIndustryName <span class="badge bg-info">@industryCount</span>
                    </a>
                    <div class="collapse" id="collapseIndustry@(Model.Id)">
                        <strong>Industry Name:</strong> @firstIndustryName<br />
                        <strong>Industry Size:</strong> @firstIndustrySize<br />
                        <strong>Website:</strong> <a href="@firstIndustryWebsite" target="_blank">@firstIndustryWebsite</a><br /><br />
                        @Html.Raw(industryDetails)
                    </div>
                }
                else
                {
                    <strong>Industry Name:</strong> @firstIndustryName

                    <br />
                    <strong>Industry Size:</strong> @firstIndustrySize

                    <br />
                    <strong>Website:</strong> <a href="@firstIndustryWebsite" target="_blank">@firstIndustryWebsite</a>
                }
            }
            else
            {
                <p>No data associated with this contact.</p>
            }
        }

    </div>

    <div class="mt-3">
        <label for="contactNote"><strong>Additional Notes:</strong></label><br />
        <label id="test"></label>

        <textarea id="contactNote" name="contactNote" class="form-control" rows="4" placeholder="Add notes here..." data-id="@Model.Id"></textarea>
    </div>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-controller="Member" asp-action="Details" asp-route-id="@Model.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    </div>
</div>
