@model IEnumerable<NIA_CRM.Models.Strategy>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="ExportToExcel">Export to Excel</a>
</p>


<form asp-action="ImportOpportunitiesFromExcel" method="post" enctype="multipart/form-data">
    <div class="d-flex align-items-center">
        <input type="file" name="file" class="form-control me-2" required />
        <button type="submit" class="btn btn-success">
            <i class="fa fa-file-import"></i> Import from Excel
        </button>
    </div>
</form>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StrategyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrategyAssignee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrategyNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrategyTerm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrategyStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StrategyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrategyAssignee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrategyNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrategyTerm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrategyStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
