@model IEnumerable<NIA_CRM.Models.Strategy>

@{
    ViewData["Title"] = "Index";
}

<h1>Strategies</h1>

<p>
    <input type="file" name="file" class="form-control me-2" required />
    
    
</p>


<form asp-action="ImportOpportunitiesFromExcel" method="post" enctype="multipart/form-data">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <a class="btn btn-dark" asp-action="ExportToExcel">
                <i class="fa fa-file-excel text-white"></i> 
                Export Excel
            </a>
            <button type="submit" class="btn btn-dark">
            <i class="fa fa-file-import"></i> Import Excel
        </button>
        </div>
        <a class ="btn btn-primary" asp-action="Create">Create New</a>
    </div>
</form>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}
<table class="table">
    <thead>
        <tr>
            <th scope="col" class="table-head">
                @Html.DisplayNameFor(model => model.StrategyName)
            </th>
            <th scope="col" class="table-head">
                @Html.DisplayNameFor(model => model.StrategyAssignee)
            </th>
            <th scope="col" class="table-head">
                @Html.DisplayNameFor(model => model.StrategyNote)
            </th>
            <th scope="col" class="table-head">
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th scope="col" class="table-head">
                @Html.DisplayNameFor(model => model.StrategyTerm)
            </th>
            <th scope="col" class="table-head">
                @Html.DisplayNameFor(model => model.StrategyStatus)
            </th>
            <th scope="col" class="table-head"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StrategyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrategyAssignee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrategyNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrategyTerm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrategyStatus)
            </td>
                <td class="d-flex flex-column">
                    <a class="btn btn-secondary mb-2" asp-action="Details" asp-route-id="@item.ID">Details</a>
                    <a class="btn btn-light mb-2"  asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    <a class="btn btn-light mb-2"  asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
