@model IEnumerable<NIA_CRM.Models.ContactCancellation>

@{
    ViewData["Title"] = "Index";
}

<h1>Archivied Contacts</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="ExportToExcel">Export to Excel</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col" class="table-head">
                @Html.DisplayNameFor(model => model.CancellationDate)
            </th>
            <th scope="col" class="table-head">
                @Html.DisplayNameFor(model => model.CancellationNote)
            </th>
            <th scope="col" class="table-head">
                @Html.DisplayNameFor(model => model.IsCancelled)
            </th>
            <th scope="col" class="table-head">
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th scope="col" class="table-head"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CancellationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CancellationNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCancelled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact.FirstName)
            </td>
                <td class="d-flex flex-column">
                    <a class="btn btn-secondary mb-2" asp-action="Details" asp-route-id="@item.ID">Details</a>
                    <a class ="btn btn-light mb-2" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    <a class="btn btn-light mb-2" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
