@model NIA_CRM.Models.Member

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Member</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label custom-file-label">Picture File:</label>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="thePicture" id="thePicture">
                </div>
            </div>
            <div class="form-group">
                <label asp-for="MemberName" class="control-label"></label>
                <input asp-for="MemberName" class="form-control" />
                <span asp-validation-for="MemberName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberSize" class="control-label"></label>
                <input asp-for="MemberSize" class="form-control" />
                <span asp-validation-for="MemberSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebsiteUrl" class="control-label"></label>
                <input asp-for="WebsiteUrl" class="form-control" />
                <span asp-validation-for="WebsiteUrl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="JoinDate" class="control-label"></label>
                <input asp-for="JoinDate" class="form-control" />
                <span asp-validation-for="JoinDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MemberNote" class="control-label"></label>
                <input asp-for="MemberNote" class="form-control" />
                <span asp-validation-for="MemberNote" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPaid" /> @Html.DisplayNameFor(model => model.IsPaid)
                </label>
                <span asp-validation-for="IsPaid" class="text-danger"></span>

            </div>
            <div class="form-group">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label">Tag Accredited</label>
                        <button type="button" id="btnRightTag" class="btn btn-danger btn-sm">
                            <strong>-</strong>
                        </button>
                        @Html.ListBox("selectedOptionsTag", (MultiSelectList)ViewData["selOptsTag"], new { @size = 10, @class = "form-control", id = "selectedOptionsTag" })
                    </div>

                    <div class="form-group col-md-6">
                        <label class="control-label">Choose Tag</label>
                        <button type="button" id="btnLeftTag" class="btn btn-success btn-sm">
                            <strong>+</strong>
                        </button>
                        @Html.ListBox("availOptionsTag", (MultiSelectList)ViewData["availOptsTag"], new { @size = 10, @class = "form-control", id = "availOptionsTag" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label">Sector Accredited</label>
                        <button type="button" id="btnRightSector" class="btn btn-danger btn-sm">
                            <strong>-</strong>
                        </button>
                        @Html.ListBox("selectedOptionsSector", (MultiSelectList)ViewData["selOptsSector"], new { @size = 10, @class = "form-control", id = "selectedOptionsSector" })
                    </div>

                    <div class="form-group col-md-6">
                        <label class="control-label">Choose Sector</label>
                        <button type="button" id="btnLeftSector" class="btn btn-success btn-sm">
                            <strong>+</strong>
                        </button>
                        @Html.ListBox("availOptionsSector", (MultiSelectList)ViewData["availOptsSector"], new { @size = 10, @class = "form-control", id = "availOptionsSector" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label">Membership Accredited</label>
                        <button type="button"  id="btnRightMembership" class="btn btn-danger btn-sm">
                            <strong>-</strong>
                        </button>
                        @Html.ListBox("selectedOptionsMembership", (MultiSelectList)ViewData["selOptsMembership"], new { @size = 10, @class = "form-control", id = "selectedOptionsMembership" })
                    </div>

                    <div class="form-group col-md-6">
                        <label class="control-label">Choose Membership</label>
                        <button type="button" id="btnLeftMembership" class="btn btn-success btn-sm">
                            <strong>+</strong>
                        </button>
                        @Html.ListBox("availOptionsMembership", (MultiSelectList)ViewData["availOptsMembership"], new { @size = 10, @class = "form-control", id = "availOptionsMembership" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label">NAICS Code Accredited</label>
                        <button type="button" id="btnRightNaicsCode" class="btn btn-danger btn-sm">
                            <strong>-</strong>
                        </button>
                        @Html.ListBox("selectedOptionsNaicsCode", (MultiSelectList)ViewData["selOptsNaiceCode"], new { @size = 10, @class = "form-control", id = "selectedOptionsNaicsCode" })
                    </div>

                    <div class="form-group col-md-6">
                        <label class="control-label">Choose NAICS Code</label>
                        <button type="button"  id="btnLeftNaicsCode" class="btn btn-success btn-sm">
                            <strong>+</strong>
                        </button>
                        @Html.ListBox("availOptionsNaicsCode", (MultiSelectList)ViewData["availOptsNaicsCode"], new { @size = 10, @class = "form-control", id = "availOptionsNaicsCode" })
                    </div>
                </div>
            </div>

            <!-- Address Fields -->
            <h3>Address</h3>
            <div id="address-container">
                
                <partial name="_MemberAddressCreate" />
                @* <button type="button" id="addAddress" class="btn btn-secondary">Add Another Address</button> *@

            </div>

            <!-- Address Fields -->
            <h3>Contact</h3>
            <div id="Contact-container">

                <partial name="_MemberContactCreate" />
            </div>


            <div class="form-group">
                <input type="submit" value="Create" id="btnSubmit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/multiselect.js"></script>
}
