@model IEnumerable<NIA_CRM.Models.Member>

@{
    ViewData["Title"] = "Index";
}


<div class="d-flex flex-row align-items-center justify-content-between mb-4">
    <h1 class="mb-0" id="member-title">Member</h1>
    <a asp-action="Create" class="btn btn-primary" aria-label="Add a new Member">+ Add Member</a>
</div>
<form asp-action="Index" method="get" aria-labelledby="form-title">
    <h2 id="form-title" class="sr-only">Filter and Search Form</h2>
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <!-- Filter/Search Toggle Button -->
    <button class="btn btn-secondary @ViewData["Filtering"]"
            type="button"
            id="filterToggle"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFilter"
            aria-expanded="false"
            aria-controls="collapseFilter">
        Filter/Search @ViewData["numberFilters"]
    </button>

    <!-- Filter/Search Form -->
    <div class="collapse @ViewData["ShowFilter"] mt-2" id="collapseFilter">
        <div class="card card-body bg-light" role="region" aria-labelledby="filter-section-title">
            <h2 id="filter-section-title" class="sr-only">Filter and Search Options</h2>
            <div class="row">
                <!-- Filter by Member Name -->
                <div class="form-group col-md-4">
                    <label for="SearchString" class="control-label">Search by Member Name:</label>
                    @Html.TextBox("SearchString", ViewData["SearchString"] as string, new
                        {
                            @class = "form-control",
                            id = "SearchString",
                            placeholder = "Enter Member Name"

                        })
                    <span id="search-name-help" class="sr-only">Type the member name to search.</span>
                </div>
                <!-- Filter by Join Date -->
                <div class="form-group col-md-4">
                    <label for="JoinDate" class="control-label">Filter by Join Date:</label>
                    @Html.TextBox("JoinDate", ViewData["JoinDate"] as string, new
                        {
                            @class = "form-control",
                            id = "JoinDate",
                            placeholder = "YYYY-MM-DD",
                            type = "date"

                        })
                    <span id="join-date-help" class="sr-only">Enter the date in YYYY-MM-DD format.</span>
                </div>
                <!-- Filter by Organization Name -->
                @* <div class="form-group col-md-4"> *@
                @*     <label for="Organization" class="control-label">Search by Organization Name:</label> *@
                @*     @Html.TextBox("Organization", ViewData["Organization"] as string, new *@
                @*         { *@
                @*             @class = "form-control", *@
                @*             id = "Organization", *@
                @*             placeholder = "Enter Organization Name" *@

                @*         }) *@
                @*     <span id="organization-name-help" class="sr-only">Type the organization name to filter.</span> *@
                @* </div> *@
            </div>

            <!-- Buttons -->
            <div class="row mt-3">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-outline-primary" aria-label="Apply filters">Apply Filters</button>
                    <a asp-action="Index" class="btn btn-outline-dark" aria-label="Clear filters">Clear</a>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <!--Empty column for logo-->
                </th>

                <th scope="col" class="table-head">Member Name</th>
                <th scope="col" class="table-head">City</th>
                <th scope="col" class="table-head">Join Date</th>
                <th scope="col" class="table-head">Membership Type</th>

                <th scope="col" class="table-head">Standing Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @{
                            if (item.MemberThumbnail?.Content != null)
                            {
                                string imageBase64 = Convert.ToBase64String(item.MemberThumbnail.Content);
                                string imageSrc = string.Format("data:" + item.MemberThumbnail.MimeType + ";base64,{0}", imageBase64);
                                <img src="@imageSrc" alt="Profile Picture of @item?.Summary"
                                     title="Profile Picture of @item?.Summary" class="img-fluid rounded" />
                            }
                            else
                            {

                                <img src="images/blankProfile.jpg" alt="blank profile picture"
                                     title="blank profile picture" class="img-fluid rounded" />
                            }
                        }
                    </td>
                    <td>@item.MemberFirstName</td>
                    <td>
                        @if (item.MemberIndustries != null)
                        {
                            foreach (var industry in item.MemberIndustries)
                            {
                                @industry.Industry.IndustryName
                                <br />
                            }
                        }
                    </td>
                    <td>
                        @if (item.Addresses != null)
                        {
                            foreach (var industry in item.Addresses)
                            {
                                @industry.City
                                <br />
                            }
                        }
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.JoinDate)
                    </td>

                    <td>
                        @if (item.MemberMembershipTypes != null)
                        {
                            foreach (var industry in item.MemberMembershipTypes)
                            {
                                @industry.MembershipType.TypeName
                                <br />
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StandingStatus)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID" aria-label="Edit contact @item.MemberFirstName @item.MemberLastName">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID" aria-label="View details of contact item.MemberFirstName @item.MemberLastName">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID" aria-label="Delete contact item.MemberFirstName @item.MemberLastName">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <partial name="_PagingNavBar" />

</form>