@model IEnumerable<NIA_CRM.Models.Opportunity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="ExportOpportunitiesToExcel">Export to Excel</a>
</p>
<form asp-action="ImportOpportunitiesFromExcel" method="post" enctype="multipart/form-data">
    <div class="d-flex align-items-center">
        <input type="file" name="file" class="form-control me-2" required />
        <button type="submit" class="btn btn-success">
            <i class="fa fa-file-import"></i> Import from Excel
        </button>
    </div>
</form>


@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OpportunityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpportunityAction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.POC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interaction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpportunityStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpportunityPriority)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OpportunityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpportunityAction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.POC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Interaction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpportunityStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpportunityPriority)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
