@model IEnumerable<NIA_CRM.Models.MemberNote>

@{
    ViewData["Title"] = "Index";
}


<div class="d-flex flex-row align-items-center justify-content-between mb-4">
    <h1 class="mb-0" id="Notes-title">Notes</h1>
    <a asp-action="Create" class="btn btn-primary" aria-label="Add a new Note">+ Add Notes</a>
    <a asp-action="ExportToExcel" class="btn btn-success" aria-label="Export Notes to Excel">Export to Excel</a>
</div>
<form asp-action="Index" method="get" aria-labelledby="contacts-title">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />

<table class="table">
        <thead>
        <tr>
                <th class="table-head">
                @Html.DisplayNameFor(model => model.Note)
            </th>
                <th class="table-head">
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
                <th class="table-head">
                @Html.DisplayNameFor(model => model.Member)
            </th>
                <th class="table-head"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.MemberName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>

</table>
<partial name="_PagingNavBar" />
</form>